name: Lint

on:
  push:
    branches:
      - beta
      - io
      - host
    paths:
      - packages/backend/**
      - packages/frontend/**
      - packages/frontend-shared/**
      - packages/frontend-embed/**
      - packages/sw/**
      - packages/misskey-js/**
      - packages/misskey-bubble-game/**
      - packages/misskey-reversi/**
      - packages/shared/eslint.config.js
      - .github/workflows/lint.yml
  pull_request:
    paths:
      - packages/backend/**
      - packages/frontend/**
      - packages/frontend-shared/**
      - packages/frontend-embed/**
      - packages/sw/**
      - packages/misskey-js/**
      - packages/misskey-bubble-game/**
      - packages/misskey-reversi/**
      - packages/shared/eslint.config.js
      - .github/workflows/lint.yml
jobs:
  pnpm_install:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: true
    - uses: pnpm/action-setup@v4
      with:
        run_install: false
    - uses: actions/setup-node@v4.3.0
      with:
        node-version-file: '.node-version'
        cache: 'pnpm'
    - run: pnpm i --frozen-lockfile

  lint:
    needs: [pnpm_install]
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        workspace:
        - backend
        - frontend
        - frontend-shared
        - frontend-embed
        - sw
        - misskey-js
        - misskey-bubble-game
        - misskey-reversi
    env:
      eslint-cache-version: v1
      eslint-cache-path: ${{ github.workspace }}/node_modules/.cache/eslint-${{ matrix.workspace }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: true
    - uses: pnpm/action-setup@v4
      with:
        run_install: false
    - uses: actions/setup-node@v4.3.0
      with:
        node-version-file: '.node-version'
        cache: 'pnpm'
    - run: pnpm i --frozen-lockfile
    - run: pnpm --filter ${{ matrix.workspace }} run eslint

  typecheck:
    needs: [pnpm_install]
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        workspace:
        - backend
        - sw
        - misskey-js
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: true
    - uses: pnpm/action-setup@v4
      with:
        run_install: false
    - uses: actions/setup-node@v4.3.0
      with:
        node-version-file: '.node-version'
        cache: 'pnpm'
    - run: pnpm i --frozen-lockfile
    - run: pnpm -r run build:tsc
      if: ${{ matrix.workspace == 'backend' || matrix.workspace == 'sw' }}
    - run: pnpm --filter misskey-js run build
      if: ${{ matrix.workspace == 'backend' }}
    - run: pnpm --filter ${{ matrix.workspace }} run typecheck
