name: Test (backend)

on:
  push:
    branches:
      - main
      - next
      - beta
      - io
      - host
    paths:
      - packages/backend/**
      # for permissions
      - packages/misskey-js/**
      - .github/workflows/test-backend.yml
      - .github/misskey/test.yml
  pull_request:
    paths:
      - packages/backend/**
      # for permissions
      - packages/misskey-js/**
      - .github/workflows/test-backend.yml
      - .github/misskey/test.yml
  workflow_dispatch:
    inputs:
      force_ffmpeg_cache_update:
        description: 'Force update ffmpeg cache'
        required: false
        default: false
        type: boolean

permissions:
  contents: read

jobs:
  unit:
    name: Unit tests (backend)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version-file:
          - .node-version
          - .github/min.node-version

    services:
      postgres:
        image: postgres:18
        ports:
          - 54312:5432
        env:
          POSTGRES_DB: test-misskey
          POSTGRES_HOST_AUTH_METHOD: trust
      dragonfly:
        image: docker.dragonflydb.io/dragonflydb/dragonfly
        options: --ulimit "memlock=-1"
        env:
          DFLY_version_check: false
          DFLY_default_lua_flags: allow-undeclared-keys
        ports:
          - 56312:6379

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        submodules: true
    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        run_install: false
    - name: Restore FFmpeg binary cache
      uses: actions/cache/restore@v5
      with:
        path: /opt/hostedtoolcache/ffmpeg
        key: ffmpeg-${{ runner.os }}-${{ runner.arch }}-latest
        restore-keys: |
          ffmpeg-${{ runner.os }}-${{ runner.arch }}-
    - name: Install FFmpeg
      uses: FedericoCarboni/setup-ffmpeg@v3
      id: setup-ffmpeg
      with:
        ffmpeg-version: 7.0.2
    - name: Save FFmpeg binary cache
      if: steps.setup-ffmpeg.outputs.cache-hit != 'true'
      uses: actions/cache/save@v5
      with:
        path: /opt/hostedtoolcache/ffmpeg
        key: ffmpeg-${{ runner.os }}-${{ runner.arch }}-${{ steps.setup-ffmpeg.outputs.ffmpeg-version }}
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
    - run: pnpm i --frozen-lockfile
    - name: Check pnpm-lock.yaml
      run: git diff --exit-code pnpm-lock.yaml
    - name: Copy Configure
      run: cp .github/misskey/test.yml .config
    - name: Build
      run: pnpm build
    - name: Test
      run: pnpm --filter backend test-and-coverage
    - name: Upload to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./packages/backend/coverage/coverage-final.json

  e2e:
    name: E2E tests (backend)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version-file:
          - .node-version
          - .github/min.node-version

    services:
      postgres:
        image: postgres:18
        ports:
          - 54312:5432
        env:
          POSTGRES_DB: test-misskey
          POSTGRES_HOST_AUTH_METHOD: trust
      dragonfly:
        image: docker.dragonflydb.io/dragonflydb/dragonfly
        options: --ulimit "memlock=-1"
        env:
          DFLY_version_check: false
          DFLY_default_lua_flags: allow-undeclared-keys
        ports:
          - 56312:6379

    steps:
      - uses: actions/checkout@v4.3.0
        with:
          fetch-depth: 0
          submodules: true
      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
      - name: Use Node.js
        uses: actions/setup-node@v4.4.0
        with:
          node-version-file: ${{ matrix.node-version-file }}
          cache: 'pnpm'
      - run: pnpm i --frozen-lockfile
      - name: Check pnpm-lock.yaml
        run: git diff --exit-code pnpm-lock.yaml
      - name: Copy Configure
        run: cp .github/misskey/test.yml .config
      - name: Build
        run: pnpm build
      - name: Test
        run: pnpm --filter backend test-and-coverage:e2e
      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./packages/backend/coverage/coverage-final.json

  migration:
    name: Migration tests (backend)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version-file:
          - .node-version
          #- .github/min.node-version

    services:
      postgres:
        image: postgres:18
        ports:
          - 54312:5432
        env:
          POSTGRES_DB: test-misskey
          POSTGRES_HOST_AUTH_METHOD: trust

    steps:
      - uses: actions/checkout@v4.3.0
        with:
          submodules: true
      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
      - name: Get current date
        id: current-date
        run: echo "today=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
      - name: Use Node.js
        uses: actions/setup-node@v4.4.0
        with:
          node-version-file: ${{ matrix.node-version-file }}
          cache: 'pnpm'
      - run: pnpm i --frozen-lockfile
      - name: Check pnpm-lock.yaml
        run: git diff --exit-code pnpm-lock.yaml
      - name: Copy Configure
        run: cp .github/misskey/test.yml .config
      - name: Build
        run: pnpm build
      - name: Run migrations
        run: MISSKEY_CONFIG_YML=test.yml pnpm --filter backend migrate
      - name: Check no migrations are remaining
        run: MISSKEY_CONFIG_YML=test.yml pnpm --filter backend check-migrations
